<div class="jumbotron text-center">

    <form ng-controller="jobController">

        <!-- Form Name -->
        <legend>Enter Company Details</legend>

        <div class="form-group">

            <!--<label for="inputEmail">Email</label>-->
            <!--<input type="email" class="form-control" id="inputEmail" placeholder="Email">-->
            <label class="control-label" for="company-name">Company Name</label>
            <!--<div class="controls">-->
            <input id="company-name" name="company-name" placeholder="Enter Company Name" class="input-medium" type="text" ng-model="companyName">

        </div>

        <div class="form-group">

            <label class="control-label" for="company-careers">Careers Link</label>
            <!--<div class="controls">-->
            <input id="company-careers" name="company-careers" placeholder="Enter Careers Link" class="input-medium" type="text" ng-model="companyLink">

        </div>

        <div class="form-group">
            <label class="control-label" for="company-info">Additional Info</label>
            <!--<div class="controls">-->
            <textarea id="company-info" name="company-info" ng-model="companyInfo" placeholder="Enter info/keywords"></textarea>

        </div>

        <!--<div class="checkbox">-->

            <!--<label><input type="checkbox"> Remember me</label>-->

        <!--</div>-->

        <button id="save-company" name="save-company" class="btn btn-info" ng-click="saveCompany()">Save</button>

    </form>


</div>


