<!-- home.html -->
<div class="jumbotron text-center">
    <h1>List of Companies</h1>
</div>

<!--<h2 class="sub-header jumbotron">Companies</h2>-->
<div class="table-responsive jumbotron">

    <a href="#add-company" class="btn btn-success btn-large" ng-show="user.loggedIn==true">
        <i class="fa fa-plus"></i> Add Company</a>

    <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        </div>
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
    </form>

    <div class="table-responsive jumbotron">
        <table class="table table-striped">
            <thead>
            <tr>
                <!--<th>#</th>-->
                <th>Company Name</th>
                <th>Careers Link</th>
                <th>Additional Info</th>
                <!--<th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="company in companies | filter:searchText">
                <!--<td></td>-->
                <td>{{company.name}}</td>
                <td><a href="{{company.careers}}">careers link</a> </td>
                <td>{{company.info}}</td>
                <!--<td>sit</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

